<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- inline svg text favicon -->
  <!-- <link rel="icon" href=""> -->

  <!-- meta tags -->
  <meta name="generator" content="Pelican" />
  <meta name="title" content="{% block meta_title %}{{ SITENAME }}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{{ AUTHOR }}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{{ DATA_CONFIG['description'] }}{% endblock %}">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/colors.css" />
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/svg.css" />

  <!-- opengraph:meta -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ DATA_CONFIG['title'] }}" />
  <meta property="og:description" content="{{ DATA_CONFIG['description'] }}">
  <meta property="og:url" content="{{ SITEURL }}" />
  <!-- <meta property="og:image" content="{{ SITEURL }}/images/cover_2_lurk.png" /> -->

  <!-- twitter:meta -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ DATA_CONFIG['title'] }}" />
  <meta name="twitter:description" content="{{ DATA_CONFIG['description'] }}" />
  <!-- <meta name="twitter:image" content="{{ SITEURL }}/images/cover_2_lurk.png" /> -->

  {% endblock head %}
</head>

<body class="{% block body_class %}{% endblock %}">

  <div class="grid">

    <section id="map" class="full-h-sticky pad">
  
      <header>
        <h1><a href="/">Meyboom Artist-<br/>Run Spaces</a></h1>
        <nav>
          <ul>
            <li {% if output_file == 'index.html' %}class="active"{% endif %}>
              <a href="/">Spaces & members</a>
            </li>
            {% for p in pages %}
              <li {% if output_file == p.url %}class="active"{% endif %}>
                <a href="/{{p.url}}">{{p.slug}}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      
      {% block map %}
      {% endblock %}
      
      <footer>
        <ul>
          {% for c_name, c_link in DATA_CONFIG['contacts'].items() %}
            <li><a href="{{ c_link }}">{{c_name}}</a></li>
          {% endfor %}
        </ul>
        <address>
          <a href="{{ DATA_CONFIG['address_link'] }}" target="_blank">
            {{ DATA_CONFIG['address'] }}
          </a>
        </address>
      </footer>
    
    </section>
  
    <section id="descriptions" class="pad">
  
      {% block text %}
      {% endblock %}
  
      <div class="top-button-wrapper">
        <a href="#top" id="top-link" class="top-button">&uarr;</a>
      </div>
    
    </section>
    
  </div>



  {% block script %}
  {% endblock %}

</body>

</html>