{% extends "base.html" %}
  
{% block map %}

<main class="svg-container">
  {% include 'partials/plan-simplified.svg' %}
  <h1>We are Looking for a Space</h1>
</main>

{% endblock %}


{% block text %}

<div class="global-bio">
  {{ DATA_CONFIG['intro']|md_parse }}
</div>

<main class="bios-container">
  {% for bio in articles|has_cat("bios")|sort_by_order %}
    <details class="studio" id="{{bio.slug}}">
      <summary>
        <div>
          <span class="studio-title">{{bio.title}}</span>
          {% if bio.name %}
            <span class="studio-name">{{bio.name}}</span>
          {% endif %}
        </div>
      </summary>
      <main>
        {{bio.content}}
      </main>
    </details>
  {% endfor %}
</main>

{% endblock %}

{% block script %}

<script src="/{{ THEME_STATIC_DIR }}/js/isinview.js" ></script>

{% endblock %}

