{% extends "base.html" %}

{% block map %}
<div class="global-bio">
    {{ DATA_CONFIG['description']|md_parse }}
</div>
{% endblock %}

{% block text %}
<article>
    <h1 id="{{page.slug}}">{{page.title}}</h1>
    {{page.content}}
</article>
{% endblock %}


