:root{
    /* palettes */
  
    /* NEW THEME */
    --c1: #774200;
    --c2: #f9f9dd;
    --c3: #ffd922;
    --c4: #ff6400;
    --c5: #00d31d;
    --c6: #b788d2;
  }
  
  
  :root{
    --clr-back: white;
    --clr-main: black;

    /* coloring of surface to make them look clickable */
    --clr-surface: rgba(0,0,0,0.06);
    /* --clr-surface: var(--c2); */

    /* coloring of surface to make them look filled /but/ non-clickable */
    --clr-filling: transparent;
    
    /* coloring when hovering surfaces, or links, or anything activable */
    --clr-hover: var(--c3);
    /* coloring when something is in an active mode */
    --clr-active: var(--c4);

    /* the stroke delimiting spacial elements */
    --clr-stroke: black;

    /* the stroke delimiting group of people */
    --clr-global-stroke: black;

}  



/* body.night{
  --clr-back: midnightblue;
  --clr-main: white;
  --clr-stroke: lightSlategrey;
  --clr-global-stroke: lightSlategrey;
  --clr-surface: white;
  --clr-filling: transparent;
  --clr-active: SlateBlue;
}
body.classic{
  --stroke-width: 2px;
  --clr-back: lightSlategrey;
  --clr-main: black;
  --clr-stroke: green;
  --clr-global-stroke: orange;
  --clr-surface: white;
  --clr-filling: transparent;
  --clr-active: white;
} */