@font-face {
    font-family: 'raw';
    src: url("../fonts/hershey-raw.ttf");
    font-weight: normal;
  }
  @font-face {
    font-family: 'raw';
    src: url("../fonts/hershey-raw-bold.ttf");
    font-weight: bold;
  }